<!DOCTYPE html>
{% load i18n %}
<html>

    <head>
        <title>{% translate "Django Form Hacks" %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>

        <!-- Rendering form error messages -->

        {% if form.errors %}
            <p>{% translate "Please correct below errors." %}</p>
        {% endif %}

        <form action="/your-name/" method="post">
            {% csrf_token %}
            <div class="form-control">
                {{form.multiple_choices}}
                {% if form.errors.multiple_choices %}
                    <span>{{form.errors.multiple_choices.as_text}}</span>
                {% endif %}
            </div>
            <input type="submit" value="Submit">
        </form>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            // In your Javascript (external .js resource or <script> tag)
            $(document).ready(function() {
                $('.select2').select2();
            });
        </script>


    </body>
</html>
