<!DOCTYPE html>
<html>
    <body>

        <!-- method 1 -->
        <!-- unpacks all the forms fields and their HTML attributes -->
        <form action="/your-name/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>

        <!-- method 2 -->
        
        <!-- render individual forms fields and their HTML attributes -->
        <form action="/your-name/" method="post">
            {% csrf_token %}
            <div class="form-control">
                {{form.first_name}}
            </div>
            <div class="form-control">
                {{form.last_name}}
            </div>
            <input type="submit" value="Submit">
        </form>

    </body>
</html>
